* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding: 30px 0;
    background-color:blanchedalmond ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
img {
    margin-left: 18px;
    padding: 20px ;
    text-align: center;
    border-radius: 20px ;
    gap: 15px;
    box-shadow:0 0 15px rgba(0,0,0,0.55) ;
    display: block;
}
body{
    font-family: Arial, Helvetica, sans-serif;
  
}
p{
    
    font-size: 20px;
    padding: 20px;
}
footer {
    background-color:black;
    color: white;
    width: 100%;
    text-align: center;
}
h2 {
    padding: 20px  0;
}